<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="ciauth" type="CIAUTH.Configuration.CIAUTHConfigurationSection, CIAUTH.Configuration, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
  </configSections>
  <ciauth api_url="https://ciapi.cityindex.com/tradingapi" app_key="CIAUTH" aes_vector="146, 64, 191, 111, 23, 3, 113, 119, 231, 121, 221, 112, 79, 32, 114, 156" aes_key="123, 217, 19, 11, 24, 26, 85, 45, 114, 184, 27, 162, 37, 112, 222, 209, 241, 24, 175, 144, 173, 53, 196, 29, 24, 26, 17, 218, 131, 236, 53, 209">
    <clients>
      <client id="123" secret="456" name="Demo App" about_url="http://foo.bar.com" hosts="*" />
    </clients>
  </ciauth>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>