<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CIAPI" version="10.6.6-bleeding-573" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="Salient.ReflectiveLoggingAdapter" version="3.2.0" targetFramework="net40" />
  <package id="Salient.ReliableHttpClient" version="1.4.5" targetFramework="net40" />
</packages>