body {
	background-color: @bgcolor;
	position: relative;
	padding-top: 80px;
}


.navbar .brand {
	background: url( '@{brand-logo-location}' ) no-repeat;
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	height: @brand-logo-height;
	width: @brand-logo-width;
	padding: 0;
}

.oauth-container {
    position: relative;
	margin-top: 80px;  
}

.oauth-scope {
    padding-right: 15px;
}

.oauth-scope h5 {
    margin: 20px 0 5px 0;
}

.oauth-scope hr {
    margin: 15px 0;
}

.oauth-third-party {
    width: 120px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #ddd;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

	.brand {
		background-image: url( '@{client-logo-location}' );
		background-repeat :no-repeat;
		background-size: 100%;
		display: block;
		float: left;
		overflow: hidden;
		text-indent: -9999px;
		padding: 0;
		width: 100%;
		height: 100%;
		max-height: 189px;
	}

	.caption {
		text-align: center;
	}

	h5 {
		margin-bottom: 0;
	}

	a.learnmore {
		font-size: 12px;
	}
}