<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
 
  </configSections>
  <appSettings>
    <!--<add key="authserver" value="http://ec2-107-20-28-58.compute-1.amazonaws.com/ciauth"/>-->
    <add key="authserver" value="http://23.21.217.245/ciauth" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
   
  </system.web>
   
  
  
</configuration>