<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="authserver" value="http://ec2-107-20-28-58.compute-1.amazonaws.com/ciauth"/>-->
    <add key="authserver" value="http://localhost.:36412" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Salient.ReliableHttpClient" publicKeyToken="de2ccdae144c2020" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.17" newVersion="1.0.6.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Salient.ReliableHttpClient.Serializer.Newtonsoft" publicKeyToken="af1483d0b03a76fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.19" newVersion="1.0.6.19" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>