<?xml version="1.0"?>
<configuration>
  <appSettings>
<!--    <add key="auth_server" value="http://23.21.217.245/ciauth"/>-->
    <add key="auth_server" value="http://localhost.:36412"/>
    <add key="api_rpc_server" value="https://ciapi.cityindex.com/tradingapi"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
